.border{
    border: 1px solid black;
    height: 50px;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin: 20px;*/
}

.container .container-info-panel{
    /*border: 1px solid #ccc;*/
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 20px;
}

.container .container-info-panel .book-img img{
    width: 300px;
}

.container .container-info-panel .book-info{
    font-size: 22px;
}