.border{
    border: 1px solid black;
    height: 50px;
}

.panel-row{
    margin-top: 10px;
}

@keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -150px, 0);
        transform: translate3d(0, -150px, 0);
    }
}

.list{
    width: 100%;
    border: 1px solid #999;
    margin: 20px auto;
    position: relative;
    height: auto;
    overflow: hidden;
}

.list .rowup{
    -webkit-animation: 10s rowup linear infinite normal;
    animation: 10s rowup linear infinite normal;
    position: relative;
}